//.npmrc
@mui:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=78ba75aca6b5ae150567b5de31e72a61Tz0xMTM2NDIsRT0xNzgwMDEyNzk5MDAwLFM9cHJvLExNPXN1YnNjcmlwdGlvbixQVj1RMy0yMDI0LEtWPTI=
